/* .services__title {
    display: flex;
    justify-content: center; 
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    color: black;
} */

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services__item {
    display: flex;
    width: 50%;
    padding: 0 20px 40px 20px;
    gap: 20px;
}

.services__item:last-child {
    padding: 0 20px 0px 20px;
}

.services__icon {
    min-width: 17%;
}

.services__info {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.service__title {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.service__desc {
    font-weight: 300;
    padding-top: 10px;
    color: #888888;
}



/* ----- MEDIA ----- */


@media (max-width: 810px) { 
    .services__item {
      width: 100%;
    }
    .services__item {
        flex-direction: column;
        justify-content: center;
    }
    .services__icon {
        display: flex;
        justify-content: center;
    }
    .services__info {
        justify-content: center;
    }
    .service__title {
        text-align: center;
    }
    .service__desc {
        text-align: center;
    }
}
  