.form {
    width: 100%;
}


.form__group {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    text-align: start;
}

.form__group:first-child {
    margin-top: 0;
}

.form__label {
    font-size: 14px;
    text-align: start;
}

.form__label_black {
    color: #ffffff;
}

.form__label_white {
    color: #111;
}

.input {
    padding: 8px 16px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 4px 0;
}

.input_error {
    border: 1px solid rgb(255, 0, 0, .6);
}


.input:focus {
    outline: 3px solid #c2dcfd;
}

.input[type=text] {
    color: black;
}

.input__error {
    font-family: 'Futura Book BT', sans-serif;
    font-size: 14px;
    font-weight: 300;
    
}

.input__error_white {
    color: rgb(255, 0, 0);
}

.input__error_black {
    color: rgb(255, 91, 91);
    
}

.button__input {
    background-color: #F4CE19;
    color: black;
    margin-top: 10px;
}

.button__input:disabled {
    background-color: #e9e9e9;
}


.textarea {
    padding: 6px 12px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 4px 0;
}

.textarea:focus {
    outline: 3px solid #c2dcfd;
}



@media (max-width: 810px) { 
    .form__box {
        text-align: center;
    }
}