.header {
    position: fixed;
    width: 100%;
    background: black;
    color: white;
    z-index: 3;
}

.header__boby {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.navigation {
    display: flex;
}

.navigation__list {
    display: flex;
}

.navigation__item {
    display: flex;
}

.navigation__link {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    transition: .2s linear;
    text-transform: uppercase;
    font-size: 14px;
}

.navigation__link:hover {
    color: #F4CE19;
}






.burger-menu {
    display: none;
    width: 30px;
    height: 30px;
    margin: 10px 0;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
}

.hidden {
    display: none;
}


/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(9px, 9px);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-9px, 9px);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}



/* ----- MEDIA ----- */


@media (max-width: 910px) { 
    .burger-menu {
        display: flex;
    }
    .navigation__list {
        display: none;
    }
    .visible {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: black;
        width: 100%;
        top: 0;
        left: 0;
        flex-direction: column;
    }
    .header {
        position: fixed;
    }
    .navigation__link {
        text-align: center;
        padding: 20px 40px;
        font-size: 28px;
    }
}
