.action {
    text-align: center;
    /* margin: 40px 0; */
    padding: 40px 0;
    background-color: #111;
}

.action__title {
    font-weight: 700;
    color: #F4CE19;
}

.action__desc {
    padding-top: 10px;
    font-weight: 300;
    color: white;
}

.action__form-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action__form-box {
    width: 50%;
}

@media (max-width: 1240px) { 
    .action__form-box {
        width:80%;
    }
}

@media (max-width: 810px) { 
    .action__form-box {
        width: 90%;
    }
}

